---
import { PanelLabel } from "@/components/ui/PanelLabel";
import { Panel } from "@/components/ui/Panel";
import { JobDetails } from '@/data/JobDetails';
import Button from '@/components/ui/Button';
import PieChart from '@/components/experience/PieChart';
---

<div class="flex w-full gap-2 h-full">
  <PanelLabel label="Key Roles" client:only="react" index={0}/>
  <Panel
    client:only="react"
    panelClassName="h-full"
    contentClassName="h-full"
    childrenClassName="h-full"
    index={1}
  >
    <PieChart client:only="react"/>
  </Panel>
</div>
