---
import Main from "@/layouts/Main.astro";
import ContactStatus from "@/components/sections/contact/ContactStatus.astro";
import ContactOptions from "@/components/sections/contact/ContactOptions.astro";
---

<Main>
  <div class="w-full h-full overflow-y-auto overflow-x-hidden relative">
    <div class="max-w-screen-xl h-full mx-auto">
      <div class="flex flex-col md:flex-row m-4 gap-4">
        <ContactStatus />
      </div>
      <div class="flex flex-col md:flex-row m-4 gap-4">
        <ContactOptions />
      </div>
      <div class="p-8 w-full"></div>
    </div>
  </div>
</Main>
