---
import { PanelLabel } from "../../../components/ui/PanelLabel";
import { Panel } from "../../../components/ui/Panel";
---
<div class="flex w-full gap-2 h-full">
	<PanelLabel label="Core Skills" client:only="react" index={2}/>
	<Panel client:only="react" panelClassName="h-full" index={3}>
		<div class="w-full grid grid-cols-1 sm:grid-cols-1 opacity-90 text-sm md:text-md xl:text-lg font-light">
			<div class="w-full">
				<ul class="list-disc pl-4 font-light opacity-90 w-full">
					<li>React</li>
					<li>HTML, Javascript, CSS3, SCSS</li>
					<li>Tailwind, DaisyUI</li>
				</ul>
			</div>
			<div class="w-full">
				<ul class="list-disc pl-4 font-light opacity-90 w-full">
					<li>Web3 Technology, wagmi</li>
					<li>Cross Browser Compatibility</li>
					<li>Responsive & Mobile First Web Design</li>
				</ul>
			</div>
			<div class="w-full">
				<ul class="list-disc pl-4 font-light opacity-90 w-full">
					<li>Agile Methodologies</li>
					<li>Git Source/Version Control</li>
					<li>Vercel, RESTful APIs</li>
				</ul>
			</div>
		</div>
	</Panel>
</div>
